@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.p_1{
    width: 100%;
    height:100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url("./img/hero.jpg");
    background-position: center;
    background-size: cover;
}
.p_1 nav{
    display: flex;
    justify-content:space-between;
    width:80%;
    margin: auto;
    padding:30px 0;
}
.p_1 nav ul{
    list-style: none;
    width:55%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.p_1 nav ul li{ 
    font-size:18px;
    font-weight: 300;
    text-transform:uppercase;
}
a{
    color:#fff;
    text-decoration: none;
}
.p_1 .logo img{
    width: 90px;
    height:90px;
}
.p_1 .nav_intro{
    position: absolute;
    top:40%;
    left:15%;
    width:40%;
 
}
.p_1 .nav_intro p{
    color:#fff;
    font-size:30px;
    font-weight:300;
    text-transform: uppercase;
    letter-spacing:3px;
    margin-bottom: 25px;
}
.p_1 .nav_intro a{
    border:2px solid #e67e22;
    padding:10px 17px;
    border-radius: 20px;
    font-weight:300
}  
.p_1 .nav_intro #a{
    color:#fff;
    background-color: #e67e22;
    margin-right: 10px;
}    
.p_1 .nav_intro #b{
   color:#e67e22
}    
.p_2 .title{
    color: #555;
    text-transform: uppercase;
    font-size: 230%;
    margin: auto;
    width: 41.6%;
    margin-top: 80px;
    letter-spacing: 2px;
    font-weight: 100;
}
.title::after{
    content:" ";
    width: 20%;
    height: 2px;
    background-color:#e67e22;
    display: block;
    margin:30px  auto;
}
.p_2 .top p:nth-child(2){
    color: #555;
    margin: auto;
    width: 50%;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 50px;
}
.list{
    display: flex;
    flex-direction:row;
    margin: auto;
    width:80%;
    flex-wrap: wrap;
    justify-content:space-around
}
.parts{
    width: 22%;
    margin: 20px 15px;
    font-size:19px;
    font-weight: 300;
}
.parts p:nth-child(1){
    font-size:350%;
    color: #e67e22;
    margin-bottom: 15px;
}
.parts p:nth-child(2){
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #555;
}
.parts p:nth-child(3){
    color: #555;
    margin-bottom: 60px;
}