*{
    margin: 0;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;

}
.nav ul{  
    background: #333;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    font-weight: 30px;
    height: 50px;
    display:flex;
    flex-direction:row;
    position: fixed;
    z-index: 999;
}

ul li{
    list-style:none;
    align-self: center;
    padding-right:100px;


}
li a:hover {
    color: rgb(255, 255, 255);
    font-weight: solid;
}  

li a:hover .dropdown:hover .dropbtn {
    background-color: black;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 350px;
    margin-top: 16px;
}
.noti{
    color: black;
    padding: 10px 0 10px 10px;
    border: 1px solid rgb(167, 163, 163);
    border-bottom: none;
    font-size: 18px;
}
.notifi{
    align-self: center;
    border: 1px solid rgb(167, 163, 163);
    padding: 30px 0 30px 110px ;
    font-size: 15px;
}
.dropdown-content a:hover {
    background-color: #0503030c;
}
.dropdown:hover .dropdown-content {
  display: block;
}
li a:hover .dropdown1:hover .dropbtn1 {
    background-color: black;
}
li.dropdown1 {
    display: inline-block;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 240px;
    margin-top: 16px;
}
.noti1{
    color: black;
    padding: 10px 0 10px 10px;
    border: 1px solid rgb(167, 163, 163);
    border-bottom: none;
    font-size: 18px;
}
.notifi1{
    border: 1px solid rgb(167, 163, 163);
    padding: 30px 0 30px 0px ;
    font-size: 15px;
}
.dropdown-content1 a:hover {
    background-color: #0503030c;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}
li a:hover .dropdown2:hover .dropbtn2 {
    background-color: black;
}
li.dropdown2 {
    display: inline-block;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 200px;
    margin-top: 16px;
    right: 100px;
    border:1px solid rgb(167, 163, 163);
}
.noti2{
    color: black;
    padding:10px ;
    font-size: 13px;
}

.dropdown-content2 a:hover {
    color: black;
    
}
.dropdown2:hover .dropdown-content2 {
  display: block;}
a{
    text-decoration: none;
    color: rgb(192, 192, 192);
}
#logo{    
    background-color: rgb(223, 102, 58);
    width: 70px;
    height:50px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    margin-left: 50px;
    color: white;
}
.theme1 {
    background-color: whitesmoke;
    border-right: 1px solid #f2f2f2;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.a{
    margin-left: 89px ;
    background-color:white;
    width: 60%;
    border-right: 2px solid whitesmoke;
}
.b{
    font-size:25px ;
    color: #333;
    padding-left:30px;
    padding-top: 30px;
}
p{
    padding-top:10px;
    color: rgb(184, 180, 180);
    padding-left:30px ;
}
img{
    width:160px;
    height:150px;
}
.c{
    padding:20px 0 0 30px ;
    border-bottom:2px solid whitesmoke ; 
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;  
}
.cai{
    position: relative;
    
}    
.c .icon{
    position: absolute;
    bottom: 65px;
    display:none;
    color : white;
    right: 85px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 3px;
    font-size: 20px;
}

.cai:hover .icon{
    display: block;
    background-color:rgb(223, 102, 58);
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 3px;
}
.slick-prev {
    font-size:0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    left:10px;
    cursor: pointer;
    color: black;
    border: 1px solid #333;
    outline: 0;
    border-radius: 10%;
    background-color:rgb(167, 167, 167);
    top:100px
}
.slick-next {
    font-size:0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    right: 10px;
    outline:0;
    cursor: pointer;
    color: black;
    border: 1px solid #333;
    background-color:rgb(167, 167, 167);
    border-radius: 10%;
    top:100px
}
.slick-prev:hover{
    background-color:rgb(223, 102, 58)
}
.slick-next:hover{
    background-color:rgb(223, 102, 58)
}
h5{
    color:rgba(0, 0, 0, 0.671);
    margin-top: 7px;
    font-weight: solid  ;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
}
.playlist{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 40px;
    background-color:rgb(140, 164, 185) ;
    
}
.imgpl{
    margin: 10px 0 5px 10px;
}
.pl{
    display: flex;
    flex-direction: column
}
.ds{
    display: flex;
    flex-direction: row;
    margin:0px 0 0 10px ;
    align-self: center;
}
.p{
    color: rgb(255, 249, 249);
    margin: 10px 70px 0px -10px;
    display: flex;
    align-items: center;
}
.ds:hover{
    background-color:rgb(146, 175, 197)
    
}
.theme2{
    width:28%;
    background-color:white;
    padding-top: 30px;
    border-bottom:2px solid whitesmoke ; 
    padding-bottom: 30px;
}
.d{
    display: flex;
    flex-direction: row;
    padding-top:10px ;

}
.e{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom:2px solid whitesmoke ; 
    padding-bottom: 30px;
}
.img1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
}
.img2{
    width: 80px;
    height: 80px;
    margin-left: 30px;
}
.img3{
    width: 150px;
    height: 50px;
    margin-left: 30px;
}
.footer{
    margin-left: 30px;
    margin-top: 10px;
}
span{
    color:rgba(19, 2, 2, 0.37);
}